.clearfix{overflow:hidden;_zoom:1;}
h1{font-size: 36px;font-weight: normal;color: white;text-shadow: 5px 5px 5px grey;}
html,body{height: 100%;width: 100%;}
.fontType{font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
.left{float: left;}
.right{float: right;}

*::-webkit-scrollbar {
width: 6px!important;
height: 6px!important;
}
*::-webkit-scrollbar-thumb {
background-color: rgba(0,0,0,.2);
}

*::-webkit-scrollbar-track {
background: rgba(255,255,255,.08);
}

*::-webkit-input-placeholder {
    color: #333;
}

*:-moz-placeholder {
    color: #333;
}

*:-ms-input-placeholder {
    /* IE10+ */
    color: #333;
}


.background{height: 100%;width: 100%;background-image: url(http://www.nkutic.com.cn:8080/img/background.jpg);position: fixed;left: 0;top: 0;z-index: -1;}
.main{padding-top: 100px;width: 1519px;margin: 0 auto;}
.main-blocks >div{margin: 5px;}
.main-article-list > div{margin-bottom: 10px;}
.footer{width: 100%;position: fixed;bottom: 10px;}
.footer-wrapper{width: 1519px;margin: 0 auto;}
.footer-wrapper > div{margin-left: 5px;margin-right: 5px;}

.right-page{width: 555px;}
.left-page{width: 700px;margin-top: 78px;height: 600px;overflow: auto;position:relative;}



/*色块大小*/
.nk-block{position: relative;cursor: pointer;}

/*大小*/
.nk-block-half{height: 155px;width: 155px;}
.nk-block-all{height: 155px;width: 320px;}
.nk-block-halfheight{height: 70px;width: 155px;}
.nk-block-allheight{height: 70px;width: 320px;}

/*颜色*/
.nk-block-blue{background-color: rgba(41,167,216,0.8);}
.nk-block-grey{background-color: rgba(219,229,231,0.8);}
.nk-block-red{background-color:rgba(207,37,84,0.8); }
.nk-block-green{background-color: rgba(181,200,14,0.8);}
.nk-block-icon{line-height: 155px;text-align: center;position: absolute;width: 100%;font-size: 70px;}
.nk-block-blue .nk-block-icon{color: #fffbff;}
.nk-block-grey .nk-block-icon{color: #555757;}
.nk-block-red .nk-block-icon{color:white;}
.nk-block-green .nk-block-icon{color: white;}


/*描述*/
.nk-block-descripton{position: absolute;left: 0;bottom: 0;padding-left: 10px;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.nk-block-title{font-weight: bold;font-size: 17px;}
.nk-block-blue .nk-block-title{font-weight: bold;color:white;}
.nk-block-blue .nk-block-subtitle{color:#eee;font-size: 15px;}
.nk-block-green .nk-block-title,.nk-block-red .nk-block-title{color:white;}
.nk-block-green .nk-block-subtitle,.nk-block-red .nk-block-subtitle{color:#eee;}

/*article*/
.nk-article{position: relative;cursor: pointer;padding: 10px;height:155px;width: 100%;}

/*颜色*/
.nk-article-userhead{}
.nk-article-userhead > img{width: 100px;height: 100px;border-radius: 100%;}
.nk-article-userdata{position: relative;padding-top: 10px;height: 100%;}
.nk-article-usernick{color: white;font-weight: bold;}
.nk-article-title{color: white;font-size: 26px;}
.nk-article-info{position: absolute;left: 0;bottom: 0;white-space: nowrap;}

/*文章内容*/
.nk-article-content{width: 100%;overflow: auto;padding:10px;}
.nk-article-content-title{font-size: 36px;}

.nk-article-operator{position: absolute;right: 0;top: 0;transform: translateX(100%);transition: 0.5s;display: none;}
.nk-article-editable .nk-article-operator{display: block;} 
.nk-article:hover .nk-article-operator {transform: translateX(0) !important;}

.nk-article-operator > div{height: 155px;width: 155px;line-height: 155px;font-size: 28px;text-align: center;float: left;}
.nk-article-edit{;color:#333;}
.nk-article-delete{color: white;}

/*page转换*/
[data-ps-page]{transform: translateY(-100%);transition: 0.5s;position: absolute;left: 0;top: 0;width: 100%;}
.ps-page-active{transform: translateY(0);}


/*登录框*/
.loginBox{width: 100%;height: 100%;text-align: center;}
.login-img > img{height: 200px;}
.login-form{text-align: center;}

.nk-input{background: none;border: none;color: black;outline: none;height: 50px;width: 400px;text-indent: 2em;font-size: 1.3em;}
.nk-input:focus{border-bottom: 3px rgba(207,37,84,0.8) solid !important;}
.login-button,.signup-button{margin: 10px auto !important;}
.nk-button{width: 150px;height: 50px;color: #333;font-size: 1.3em;margin: 1em;background:rgba(207,37,84,0.8); line-height: 50px;border-radius: 5px;cursor: pointer;}

 
 /*写文章*/
.nk-write-title{height: 200px;}
[data-public-check]{padding: 20px;font-size: 20px;}
.nk-write-state{padding: 20px;font-size: 20px;opacity: 0;}
.wangEditor-container{background-color: rgba(219,229,231,0.8) !important;}
.wangEditor-menu-container{background: none !important;}
.nk-write-state-show{-moz-animation:write-show 2s; /* Firefox */-webkit-animation:write-show 2s; /* Safari and Chrome */-o-animation:write-show 2s; /* Opera */}
.nk-write-public .nk-nopublic{display: none;}
.nk-write-nopublic .nk-public{display: none;}
.nk-nopublic:hover,.nk-public:hover{color: white;}

.article-show{height: 100%;}

/*个人信息*/
.all-article

@keyframes write-show
{
0%   {opacity: 1;}
25%  {opacity: 0.75;}
50%  {opacity: 0.5;}
100% {opacity: 0;}
}

@-webkit-keyframes write-show
{
0%   {opacity: 1;}
25%  {opacity: 0.75;}
50%  {opacity: 0.5;}
100% {opacity: 0;}
}

@-o-keyframes write-show
{
0%   {opacity: 1;}
25%  {opacity: 0.75;}
50%  {opacity: 0.5;}
100% {opacity: 0;}
}

